 
@font-face {
   font-family: myFont;
   src: url(zetafont.ttf);
}
  
     
@font-face {
   font-family: myFont2;
   src: url(altrofont.ttf);
}
  

@font-face {
   font-family: fontPerNav;
   src: url(navfont.ttf);
}
  
  .navFont{
     font-family: fontPerNav;
  }
  
.logoX {
   font-family: myFont;
   color: #400040;
}
  
 
 .tutto {
   font-family: myFont2;
   color: #400040;
}

/* CSS per espandere gli elementi quando ci passi sopra con il mouse */
.list-group-item {
    transition: height 0.3s ease; /* Effetto di transizione per una transizione fluida */
}

.list-group-item:hover {
    height: auto; /* Al passaggio del mouse sopra l'elemento, l'altezza viene impostata su "auto" per consentire l'espansione */
}

#PAGECONTAINER {
  position: relative;
  min-height: 100vh;
}

#PAGINADAVISUALIZZARE {
  padding-bottom: 2.5rem;    /* altezza del footer */
}

#FOOTER {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* altezza del footer */
}